# Fortune 500 data analysis -2

Let's perform another advanced analysis of fortune 500 data . It can be found here [fortune500]( https://drive.google.com/file/d/17LWD9zCPGme69BiOkOIbsNzmYkZcnWLk/view?usp=sharing)

We intend to perform the following tasks:-
  
  1.Top companies with most employees 
  2.Analyse the change in ranks of companies
  3.Finding the countries adhering to two constraints.
  4.Finding the company with most employees in a particular country.

In [4]:
import numpy as np
import pandas as pd

In [5]:
f500 = pd.read_csv("f500.csv")

In [6]:
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan #Substituting the previous_rank = 0 with nan

**Let's try to obtain the top five companies with most employees**

In [15]:
sorted_emp = f500.sort_values("employees", ascending=False)
top5_emp = sorted_emp.head()
print(top5_emp.iloc[: , [0,15]])

                        company  employees
0                       Walmart    2300000
3      China National Petroleum    1512048
118            China Post Group     941211
1                    State Grid     926067
26   Hon Hai Precision Industry     726772

**Now we'll analyse the change in ranks of companies**

Let's commence this by selecting only the previous rank values which are not null.

In [21]:
previousRanks_filled = f500[f500['previous_rank'].notnull()]
rank_change = previousRanks_filled["rank"] -previousRanks_filled["previous_rank"] 
improved_rank = previousRanks_filled.loc[rank_change > 0 ,'company'] 
print(improved_rank)

3                          China National Petroleum
6                                 Royal Dutch Shell
9                                       Exxon Mobil
11                                               BP
14                              Samsung Electronics
15                                         Glencore
16                                          Daimler
19                                       EXOR Group
21            Industrial & Commercial Bank of China
26                       Hon Hai Precision Industry
27                          China Construction Bank
29                                            Total
30                                 General Electric
31                                          Verizon
37                       Agricultural Bank of China
41                                    Bank of China
42                                      BNP Paribas
44                                          Chevron
45                                       Fannie Mae
46                      China Mobile Communications
51                                        BMW Group
52                          Express Scripts Holding
56                           Assicurazioni Generali
62                                          Gazprom
68                                        Microsoft
73                                        Citigroup
74                                        Petrobras
79                                  Credit Agricole
81                            Electricite de France
83                                             Enel
                           ...
447                        Shanxi LuAn Mining Group
450                            Chubu Electric Power
451                                     BAE Systems
452                                        Andeavor
453                                    China Datang
454                                            Flex
455                               Arrow Electronics
457                              Compal Electronics
459                                        Qualcomm
462                                     Koc Holding
464                                     Duke Energy
465                                        Michelin
467                                Heineken Holding
468                    Enterprise Products Partners
469                                     AstraZeneca
471                                  Rabobank Group
474                                US Foods Holding
475    Shanxi Jincheng Anthracite Coal Mining Group
478                                      LG Display
479                                  Emirates Group
483                                          Sodexo
485                                       GS Caltex
486                               Ultrapar Holdings
488                                  Sears Holdings
489                        China General Technology
490                                   National Grid
492                                  Telecom Italia
496                        New China Life Insurance
497                       Wm. Morrison Supermarkets
498                                             TUI
Name: company, Length: 259, dtype: object

**We want to find the companies in f500_with more than 265 billion in revenue that are headquarted in China**

In [24]:
cols = ['company','revenues','country']
f500_sel = f500[cols]

In [26]:
chinaOver265b = f500_sel.loc[(f500['revenues'] >265000) & (f500['country'] =='China') ,:]
print((chinaOver265b).head())

         company  revenues country
1     State Grid    315199   China
2  Sinopec Group    267518   China

**Now let's try to find out the top employers from all countries.**

In [41]:
topEmployers = {}
countries = f500['country'].unique()
for c in countries:
    if c not in topEmployers:
        companyEmployees = f500.loc[f500['country']== c,['company','employees']]
        sorted_ce = companyEmployees.sort_values("employees", ascending=False)
        topEmployers[c] = sorted_ce.iloc[0,0]
print(topEmployers)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}